<div class="card mb-4 ml-2 mr-2">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl || '../../../../../assets/16.1 user.png.png'}}" alt="{{user.userName}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-pripary" [routerLink]="['/members/',user.id]" ><i class="fa fa-user"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-pripary" (click)="sendLike(user.id)"><i class="fa fa-heart"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-pripary"><i class="fa fa-envelope"></i></button></li>
    </ul>
  </div>
  <div class="card-body p">
    <h6 class="card-title text-centar mb-1"><i class="fa fa-user"></i>
      {{user.userName}},{{user.age}}
    </h6>
    <p class="card-text text-muded text-centar">{{user.city}}</p>
  </div>
</div>

